<h1>Need A Hero - Submit New Order</h1>

<form clrForm [formGroup]="form" (ngSubmit)="submit()">
    <clr-select-container>
        <label>Required Superpower</label>
        <select clrSelect formControlName="superpower">
            <option [value]="power.code" *ngFor="let power of superPowers">{{power.name}}</option>
        </select>
      </clr-select-container>

    <clr-date-container>
        <label>From</label>
        <input type="date" clrDate formControlName="dateFrom">
        <clr-control-error>Required</clr-control-error>
    </clr-date-container>

    <clr-date-container>
        <label>To</label>
        <input type="date" clrDate formControlName="dateTo">
        <clr-control-error>Required</clr-control-error>
    </clr-date-container>

    
    <button class="btn btn-primary" type="submit"><clr-icon shape="form"></clr-icon> Submit Order</button>
    
</form>