<h1>Accept Offer For Order {{orderId}}</h1>

<form clrForm [formGroup]="form" *ngIf="order | async; else loading">
    <!-- orderId, customer, requested power, date from, date to  -->
    <clr-input-container>
        <label>Customer</label>
        <input clrInput type="text" formControlName="customerName" readonly="true"/>
    </clr-input-container>

    <clr-input-container>
        <label>Requested power</label>
        <input clrInput type="text" formControlName="superpowerName" readonly="true"/>
    </clr-input-container>

    <clr-input-container>
        <label>Order From</label>
        <input type="text" clrInput formControlName="orderFrom" readonly="true">
    </clr-input-container>

    <clr-input-container>
        <label>Order To</label>
        <input type="text" clrInput formControlName="orderTo" readonly="true">
    </clr-input-container>
    
    <clr-input-container>
        <label>Hero</label>
        <input type="text" clrInput formControlName="assignedHeroName" readonly="true">
      </clr-input-container>

    <!-- accept or reject or go back to tasks -->
    
    <button class="btn btn-secondary" (click)="backToTasks()">Back To Tasks</button>
    <button class="btn btn-primary" (click)="accept()"><clr-icon shape="check"></clr-icon> Accept Offer</button>
    <button class="btn btn-danger" (click)="reject()"><clr-icon shape="times"></clr-icon> Reject Offer</button>

    
</form>

<ng-template #loading>
    Loading Data...
  </ng-template>