<h1>My tasks</h1>
<table class="table">
    <thead>
        <tr>
            <th class="left">Order number</th>
            <th>Superpower</th>
            <th>Period</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of myTasks">
            <td class="left">{{task.orderId}}</td>
            <td>{{task.requestedSuperpower}}</td>
            <td>{{task.orderFrom}} {{task.orderTo}}</td>
            <td>{{task.orderStatus}}</td>
            <td>{{task.assignee}}</td>
            <td>
                <button *ngIf="!isAssigneeCurrentUser(task)" (click)="claimTask(task)" class="btn btn-outline btn-sm"><clr-icon shape="user"></clr-icon> Claim task</button>
                <button *ngIf="isAssigneeCurrentUser(task)" (click)="performTask(task)" class="btn btn-outline btn-sm"><clr-icon shape="pencil"></clr-icon> {{task.taskName}}</button>
            </td>
        </tr>
        <tr *ngIf="myTasks && myTasks.length==0">
            <td colspan="5">No tasks</td>
        </tr>
    </tbody>
</table>

<h1>My pending orders</h1>
<table class="table">
    <thead>
        <tr>
            <th class="left">Order number</th>
            <th>Superpower</th>
            <th>Period</th>
            <th>Assigned Hero</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pendingOrder of pendingOrders">
            <td class="left">{{pendingOrder.orderId}}</td>
            <td>{{pendingOrder.superpowerName}}</td>
            <td>{{pendingOrder.orderFrom}} {{pendingOrder.orderTo}}</td>
            <td>{{pendingOrder.assignedHeroName}}</td>
            <td>{{pendingOrder.status}}</td>
        </tr>
        <tr *ngIf="pendingOrders && pendingOrders.length==0">
            <td colspan="5">No pending orders</td>
        </tr>
    </tbody>
</table>