<h1>My pending orders</h1>
<table class="table">
    <thead>
        <tr>
            <th class="left">Order number</th>
            <th>Superpower</th>
            <th>Period</th>
            <th>Assigned Hero</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pendingOrder of pendingOrders">
            <td class="left">{{pendingOrder.orderId}}</td>
            <td>{{pendingOrder.superpowerName}}</td>
            <td>{{pendingOrder.orderFrom}} {{pendingOrder.orderTo}}</td>
            <td>{{pendingOrder.assignedHeroName}}</td>
            <td>{{pendingOrder.status}}</td>
        </tr>
        <tr *ngIf="pendingOrders.length==0">
            <td colspan="5">No pending orders</td>
        </tr>
    </tbody>
</table>