<h1>My tasks</h1>
<div class="clr-row">
    <div class="clr-col-lg-6 clr-col-12">
        <div class="card" *ngFor="let task of myTasks">
            <div class="card-header">
                {{task.taskName}}
            </div>
            <div class="card-block">
                <div class="card-title">
                    Order {{task.orderId}} <span class="badge">{{task.orderStatus}}</span>
                </div>
                <div class="card-text">
                    Customer {{task.customer}}
                </div>
                <div class="card-text">
                    Requested {{task.requestedSuperpower}} from {{task.orderFrom}} to {{task.orderTo}}
                </div>
            </div>
            <div class="card-footer">
                <button *ngIf="hasAction(task,'CreateOffer')" class="btn btn-sm btn-link" [routerLink]="['/create-offer', task.orderId, task.taskId]">Create offer</button>
                <button class="btn btn-sm btn-link">Claim task</button>
            </div>
        </div>
    </div>
</div>
